Source: displaylink
Section: utils
Priority: optional
Maintainer: Shengjing Zhu <i@zhsj.me>
Build-Depends: debhelper (>= 10), dh-exec, libusb-1.0-0, libuuid1
Standards-Version: 3.9.8
Homepage: http://www.displaylink.com/downloads/ubuntu
Vcs-Git: https://github.com/zhsj/displaylink.git
Vcs-Browser: https://github.com/zhsj/displaylink

Package: displaylink
Architecture: amd64 i386
Depends: evdi-dkms | evdi-modules, ${misc:Depends}, ${shlibs:Depends}
Description: DisplayLink Manager
 DisplayLink USB Graphics Software
